<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Repository</title>
    <link rel="stylesheet" href="/css/home.css">
     <!-- <link rel="stylesheet" href="../../public/css/navbar.css"> -->
   
     </style>
</head>
<body>

    <!-- <%- include('partials/navbar') %> -->
    <%- include('partials/navbar', { user: user }) %>


    <div class="content">
      <div class="main-section">

         <div class="left-section">
            <p class="section-level">Upload your Files</p>
            <h1 class="section-title">Comprehensive Data Management Hub,Secure and Efficient.</h1>
            <p class="section-description">DataVault provides a robust platform for secure file management, allowing users to effortlessly store, view, upload, and delete files. With a focus on efficiency and security, DataVault offers a comprehensive solution for managing your data with ease and reliability.</p>
            <div class="btton-group">
               <a href="/upload" class="upload-btn">Upload</a>
            </div>
         </div>

         <div class="right-section">
            <div class="image-container">
               <img src="./images/Screenshot 2024-07-13 161524.png" alt="image" class="section-image">
            </div>
             
         </div>

      </div>
    </div>
    
</body>
</html>