<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/login.css">
    
</head>
<body>


    <div class="container">
        <div class = "text">
            <h2>Login</h2>
            <form action="/login" method="post">
                <input type="email" placeholder="Enter Email" name="email">
                <input type="password" placeholder="Enter Password" name="password">
                <button>Login</button>
                     <p>Not a mamber? <span id="singuplink">Sing Up</span></p>
            </form>
        </div>
        
    </div>



    <script>
        document.getElementById("singuplink").addEventListener("click",function(){
            window.location.href="/signup";
        });
    </script>


    
</body>
</html>
